 ## What is a Algorithm?

An algorithm can be defined as a step by step instructions for a program to follow to solve any given problem; An Algorithm process the input data and gives the output based on the specific problem.

## What is Data Structure used for?

Data structure deals with how the data is stored and organized in memory of the computer that is going to be used in the program

# Overview of Data Types and Obejcts

An Algorithm can be converted into a computer software using any programming language.

The performance efficency of a computer software depends highly upon how the data is stored in the memory of the computer, which is then going to be used in the computer

Python is a Dynamically Typed Language which means the data type of a variable is not required while defining a variable. Python automatically recognize the type of variable during the runtime

There are various type of Data Structures : 
    1.) Numeric types  : Intergers (int), float, complex
    2.) Boolean types  : bool
    3.) Sequence types : String(str), range, list, tuple
    4.) Mapping types  : Dictionary(dict)
    5.) Set types      : set, frozenset

### type()

In [2]:
# We can check the type of the variable using the type() function

var1 = "Hello World"
var2 = 3
var3 = 4.5
var4 = [1,2]
var5 = {1,2,4}
print(f"var1 = {type(var1)}\nvar2 = {type(var2)}\nvar3 = {type(var3)}\nvar4 = {type(var4)}\nvar5 = {type(var5)}\n")

var1 = <class 'str'>
var2 = <class 'int'>
var3 = <class 'float'>
var4 = <class 'list'>
var5 = <class 'set'>

### Basic Data Types

    Numeric :
        Interger : Example : 45, 19 , 100, -49, -10 ; Basically with no decimals
        Float    : 3.1, 4.3 ; Basically with decimals
        Complex  : Represented using two floating-point values. It contains ordered pair such                    as a+ib, where a and b are real value and i is an imiginary value. 
                   E.g : 3.0 + 1.3j, 4.0j and so on

In [15]:
int1 = 4; int2 = -4
print(f"int1 = {type(int1)}\tint2 = {type(int2)}")
float1 = 4.0; float2 = -4.2
print(f"float1 = {type(float1)} float2 = {type(float2)}")
cmplx1 = 3.0 + 1.3j; cmplx2 = -4.2 + 3.1j; cmplx3 = -4.2j
print(f"cmplx1 = {type(cmplx1)} cmplx2 = {type(cmplx2)} cmplx3 = {type(cmplx3)}")

int1 = <class 'int'>	int2 = <class 'int'>
float1 = <class 'float'> float2 = <class 'float'>
cmplx1 = <class 'complex'> cmplx2 = <class 'complex'> cmplx3 = <class 'complex'>

Boolean

It's either True or False. False is always represented by 0 numerically and True is anything but 0.

In [16]:
# We can use bool() function to check

print(bool(0))
print(bool(1))
print(bool(4))
print(bool(0.3))
print(bool(-0.2))

False
True
True
True
True

## Sequences

A string is immutable sequence of characters represented in single, double or triple quotes.

In [28]:
# What does immutable mean? 
# Lets say there is a string str1
str1 = " This is a string which is naturally immutable"
# Lets type of change it's content
str1 = "Changed"
print(f"type : {type(str1)}\n{str1}")

# Lets say there is a integer 4, we want to change to float
var1 = 4
print(f"Before : {type(var1)}\t Value : {var1}")
var1 = float(var1)
print(f"After : {type(var1)}\t Value : {var1}")


# Lets try same thing with an string
try : 
    str1 = float(str1);
except :
    print ("Error : could not convert string to float")
    
# We get an error. That means it cannot be typecasted

type : <class 'str'>
Changed
Before : <class 'int'>	 Value : 4
After : <class 'float'>	 Value : 4.0
Error : could not convert string to float

### Add two Strings..
### What?????

In [30]:
# Only concatenate two strings
f = "Data"; s = "structures"
print(f+s)

Datastructures

## Multiply ?

In [33]:
print(f*4) # Just see what it will do

DataDataDataData

## Range

In [36]:
# range(start, stop, step)
# - start => what is the number to start from. It's inclusive
# - end   => where to stop. It's exclusive 
# - step  => how many steps to jump; deafult is 0.

print(range(0,10,2))
print(list(range(0,10,2)))

range(0, 10, 2)
[0, 2, 4, 6, 8]

## Lists

Properties Key Points : 
1. Ordered : They are ordered in a sequence. The order never changes.
2. Dynamic : Size of the list can be either increased or decreased by (Adding) or (Deleting) list items 
3. Abitary Set of Objects : The list can containn elements of any data type
4. Accessible via index. : The elements of the list can be accessed via index. P.S : The index starts from 0. :)
5. Mutable : Elements can be updated by pin pointing the index of the element we want to change.

In [37]:

list1 = ["name1", "name2", 3,4,5.3,-1]

In [38]:
print(type(list1))

<class 'list'>

In [39]:
#it can have same element
list1 = ["name1", "name2", 3,4,5.3,-1, "name1"]
print(type(list1))

<class 'list'>

In [41]:
# We can call by Index : 
print(list1[3])

4

In [45]:
## Ordered Property

print([1,2,3] == [1,2,3])
print([1,2,3] == [3,1,2])

True
False

Dynamic Property
  The list is dynamic that means, it can grow or shrink

In [3]:
b = ["Aalok", 43.2, "ea", 4]
print(b)

['Aalok', 43.2, 'ea', 4]

In [4]:
b = b+['New String']
print(b)

['Aalok', 43.2, 'ea', 4, 'New String']

We can only add via concatenatation, i.e append another list.

In [5]:
b = b+['New String']
print(b)
print(len(b)) # len() to get the size of the list.

['Aalok', 43.2, 'ea', 4, 'New String', 'New String']
6

In [9]:
# We can even delete and item from the list via the index. 
del b[4]
print(b)
print(len(b))

['Aalok', 43.2, 'ea', 4, 'New String', 'New String']
6

In [5]:
## Accessible via Index
list1 = [32,44,435,213,5,2]
print(list1[2])

435

In [16]:
## Changing a item in lits
list1 = ["a", 'b', 23, 44, 'iurfe', '438dsdv']
print(list1[2])
list1[2] = 33223
print(list1[2])
list1[0:3] = [2, 4, 'changed']
print(list1)
list1[0:3] = ['changed']
print(list1)
list1[0:3] = 'changed'
print(list1)

23
33223
[2, 4, 'changed', 44, 'iurfe', '438dsdv']
['changed', 44, 'iurfe', '438dsdv']
['c', 'h', 'a', 'n', 'g', 'e', 'd', '438dsdv']

### Membership, identity and logical operations

These operators are used to check the membership of an item, i.e if an item is stored in or is contained in a sequence variable [ex : string, list or tuple]

In [17]:
string1 = "ThisIsAString"

In [19]:
print(string1[3]) # Since string is a a sequence variable you can look something in it via index. 
len(string1)

s

13

There are two types of membership operators
1.) in
2.) not in

In [24]:
mylist1 = [100, 20, 30, 10]
mylist2 = [10, 400, 38, 90]

#### in

In [25]:
if mylist2[0] in mylist1:
    print(f"element mylist2[0] = {mylist2[0]} is overlapping with mylist1")

element mylist2[0] = 10 is overlapping with mylist1

In [26]:
if 10 in mylist1:
    print(f"10 is overlapping with mylist1")
else:
    print("the element is not in mylist1")

10 is overlapping with mylist1

In [27]:
if 13 in mylist1:
    print(f"10 is overlapping with mylist1")
else:
    print("the element is not in mylist1")

the element is not in mylist1

#### not in

In [29]:
if '23' not in mylist1 or mylist2:
    print("Element 23 is not in either of the lists.")
else:
    print("Gotcha")

Element 23 is not in either of the lists.

In [31]:
if 10 not in (mylist1 or mylist2):
    print("Element 23 is not in either of the lists.")
else:
    print("Gotcha")

Gotcha

### Identity operators

This operator is used to check whether two variable refer to same object.

In [36]:
list1 = [10]
list2 = [10]

if list1 == list2 :
    print("Both List are equal or have same elements")
else : 
    print("Both List are not equal or doesn't have same elements")
    
if list1 is list2:
    print("Both List are pointing to same object")
else :
    print("Both list are not pointing to the same object")
    
list3 = list1

if list1 is list3:
    print("Both List are pointing to same object")
else :
    print("Both list are not pointing to the same object")

if list2 is list3:
    print("Both List are pointing to same object")
else :
    print("Both list are not pointing to the same object")

    
if list2 is not list3:
    print("Both List are not pointing to the same object")
else :
    print("Both list are pointing to the same object")

Both List are equal or have same elements
Both list are not pointing to the same object
Both List are pointing to same object
Both list are not pointing to the same object
Both List are not pointing to the same object

### Logical Operators

SKIPPPPPPPP

# Tuples

It is similar to list
1. ) 0 indexed
2. ) Read only - cannot be modified/changed

We should only use this if we wish to not change this further and want to keep it fixed.

Duplicates are allowed and can be of different types similar to lists

In [10]:
tuples_name = ("entry1", "entry2", "entry3", 30, False)

In [7]:
type(tuples_name)

tuple

In [13]:
tuples2 = (("Aalok"), ("European"), ("Mongolian"))

In [17]:
print(f"{type(tuples2)} \n {print(tuples2)} ")

('Aalok', 'European', 'Mongolian')
<class 'tuple'>
 None

## Using operators

In [19]:
tupl1 = (1,2,3,"hello")

In [20]:
print(type(tupl1))

<class 'tuple'>

In [23]:
tupl2 = tupl1*2+(50,60)

In [24]:
print(tupl2)

(1, 2, 3, 'hello', 1, 2, 3, 'hello', 50, 60)

In [25]:
if "hello" in tupl2:
    print("Yeah, it's there")
else :
    print("It's not there")

Yeah, it's there

In [26]:
for i in tupl2:
    print(i)

1
2
3
hello
1
2
3
hello
50
60

## Slicing

In [28]:
print(tupl2[:4])

(1, 2, 3, 'hello')

In [29]:
print(tupl2[-2])

50

# Dictionaries

It stores data in unordered pairs (key-values). A key must be hashable and immutable data types. It's like an vector array in Java

In [31]:
my_dict = {
    # KEY : PAIR
    1 : "Hello",
    2 : "World"
}

In [33]:
print(my_dict[1]) # Always call by key

Hello

In [34]:
print(my_dict)

{1: 'Hello', 2: 'World'}

In [35]:
my_dict2 = {
    "1" : 3020,
    "2" : 3022,
    "Hello" : "Amigo"
}

In [36]:
print(my_dict2["1"])

3020

In [40]:
# Creating an empty dictionary and then adding onto it
dict = {}
print(f"{dict} / {type(dict)}\n-----\n")
dict["key1"] = "Hello"
dict["key2"] = "World"
dict["key3"] = 329
print(dict)

{} / <class 'dict'>
-----

{'key1': 'Hello', 'key2': 'World', 'key3': 329}

In [41]:
# We can only check key and then see values from that key
print("hello" in dict)
print("key1" in dict)

False
True

In [43]:
# We can get values from 2 way
print(dict["key1"])
print(dict.get("key1"))

Hello
Hello

In [44]:
print(dict.items())

dict_items([('key1', 'Hello'), ('key2', 'World'), ('key3', 329)])

In [45]:
#Printing the keys
print(dict.keys())

dict_keys(['key1', 'key2', 'key3'])

In [46]:
#Printing the values
print(dict.values())

dict_values(['Hello', 'World', 329])

In [49]:
dict.pop("key2") # Pops with a specific key

'World'

In [50]:
print(dict)

{'key1': 'Hello', 'key3': 329}

In [51]:
dict.popitem() # pops the last item

('key3', 329)

In [52]:
print(dict)

{'key1': 'Hello'}

In [54]:
# Concatenate 
dict1 = {'Aalok' : 29}
dict.update(dict1)
print(dict)

{'key1': 'Hello', 'Aalok': 29}

# SETS

A set is an unordered collection of hashable objects
1.) Iterable, mutable, unique elements

() - sets
{} - dictionary
[] - list

Python has a built-in data type called set. It is a collection of unordered data values. Due to the unordered dataset, the user is not sure of the order in which data values appear. An unordered dataset leads to unindexed values. Set values cannot be accessed using index numbers as we did in the list. Set values are immutable which means we cannot alter the values after their creation. Data inside the set can be of any type say, integer, string, or float value. The set uses comma-separated values within curly brackets {} to store data. Sets can be defined using any variable name and then assigning different values to the set in the curly bracket. The set is unordered, unchangeable, and does not allows duplicate values.

In [56]:
x1 = {'and', 12, "china"}
type(x1)

set

In [57]:
x2 = {"A":100, "B":200}
type(x2)

dict

In [ ]:
SEE THE DIFFERENCE

In [59]:
x3 = set(['and', 12, "china"])
type(x3)

set

In [62]:
# Adding with sets
set1 = {"apple","banana", "cherry"}
print(set1)
set2 = {"lemon", "banana"}
set1.update(set2)
print(set1)

# duplicates are not allowed

{'banana', 'cherry', 'apple'}
{'banana', 'lemon', 'apple', 'cherry'}

In [63]:
# remove vs discard
set1.remove("guava")

KeyError: 'guava'

In [64]:
set1.discard("guava") # discard will not raise an error if something doesn't exist

In [69]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop() # removes an random item

print(x)

print(thisset)

thisset.clear() # Cleares out the whole set
print(thisset)

banana
{'cherry', 'apple'}
set()

In [70]:
# Deleting the whole set
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

## Keeping the duplicates in the set

In [71]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [73]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

{'apple'}

## Keeping everything except the duplicates

In [74]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)

{'cherry', 'banana', 'google', 'microsoft'}

In [75]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(x)

{'banana', 'cherry', 'apple'}

### True and False or it's values in numeric form means the same in a set

In [77]:
x = set((0,1,"Hello"))
y = {False, True, "World"}
print(x)
print(y)

{0, 1, 'Hello'}
{False, True, 'World'}

In [81]:
### WILL NOT WORK ####

# Because sets are not ordered, so it will not work with indexes

for i in range(3):
    if x[i] == y[i]:
        print("Equal")
    else:
        print(f"{x[i]} is not equal to {y[i]}")

TypeError: 'set' object is not subscriptable

In [82]:
for element in x:
    if element in y:
        print("Equal")
    else:
        print(f"{element} is not equal to any element in y")

Equal
Equal
Hello is not equal to any element in y

In [83]:
for a, b in zip(x, y): #zip function in Python is used to combine elements from two or more iterables into tuples
    if a == b:
        print("Equal")
    else:
        print(f"{a} is not equal to {b}")

Equal
Equal
Hello is not equal to World

## SETS
    add()	Adds an element to the set
    clear()	Removes all the elements from the set
    copy()	Returns a copy of the set
    difference()	Returns a set containing the difference between two or more sets
    difference_update()	Removes the items in this set that are also included in another, specified set
    discard()	Remove the specified item
    intersection()	Returns a set, that is the intersection of two other sets
    intersection_update()	Removes the items in this set that are not present in other, specified set(s)
    isdisjoint()	Returns whether two sets have a intersection or not
    issubset()	Returns whether another set contains this set or not
    issuperset()	Returns whether this set contains another set or not
    pop()	Removes an element from the set
    remove()	Removes the specified element
    symmetric_difference()	Returns a set with the symmetric differences of two sets
    symmetric_difference_update()	inserts the symmetric differences from this set and another
    union()	Return a set containing the union of sets
    update()

## Mutable vs Immutable


my_str = "hello" # my_str refers to an immutable string
my_str = "world" # my_str can be reassigned to refer to another string

my_list = [1, 2, 3] # my_list refers to a mutable list
my_list.append(4) # we can mutate the contents of the list 
my_list = [5, 6] # my_list can be reassigned to refer to another list

So an immutable object means:

The state/contents of the object cannot be changed once created
But the variable referring to the object can be reassigned
Whereas a mutable object means:

The state/contents of the object can be changed after creation
And similarly, the variable referring to the mutable object can be reassigned

In [ ]:
# Immutable Objects

s = "Hello" # String object 
print(s) # Hello

s[0] = "M" # Error! Cannot modify string 

s = "Me" # Allowed - s now refers to a new string object 


t = (1, 2, 3) # Tuple object
print(t[1]) # 2

t[1] = 4 # Error! Cannot modify tuple


# Mutable Objects

l = [1, 2, 3] # List object 

print(l) # [1, 2, 3]  

l.append(4) # Modify list by appending 4
print(l) # [1, 2, 3, 4]  

l[1] = 5 # Modify 2nd element to 5
print(l) # [1, 5, 3, 4]

l = ["a", "b"] # Allowed - l can refer to a new list
print(l) # ["a", "b"]

Even though python sets are mutable, you can't still do set_object[3] = "new_data", because it's unindexed.
Python are mutable, meaning you can add and remove elements from a set. However, sets do not support indexing because they are unordered collections

# Creating Immutable Set

In [97]:
# Frozen Set
set1 = set(("Hello", "World", 6752))
set2 = {"Added"}
set1.add("Raincoat")
set1.update(set2)
print(set1)

{6752, 'Raincoat', 'Hello', 'Added', 'World'}

In [98]:
# Frozen Set
set3 = frozenset(set1) # Now it's fixed

In [99]:
set4 = {"Umbrella"}

In [100]:
set3.update(set4)

AttributeError: 'frozenset' object has no attribute 'update'

In [101]:
set3.add("New Element")

AttributeError: 'frozenset' object has no attribute 'add'

## Tuples and Named Tuples

In [25]:
myTuple = ("apple", "banana", "cherry", "coconut")
print(type(myTuple))

<class 'tuple'>

Tuple items are ordered, unchangeable, and allow duplicate values.

In [26]:
# Printing the length
len(myTuple)

4

In [27]:
# Tuples are comma seperated
# Creating tuples with one element
tupl1 = ("apple")
tupl2 = ("apple2",)
print(f"tupl1:{type(tupl1)} \ntupl2:{type(tupl2)}")

tupl1:<class 'str'>
tupl2:<class 'tuple'>

## tuple() constructor

In [28]:
# Just like set(), there is also a tuple() constructor
tupl3 = tuple(("apple"))
print(type(tupl3))

<class 'tuple'>

In [29]:
# Since tuples are ordered we can access by it's index, negative index and slicing
myTuple[2]

'cherry'

In [30]:
# Since it's mutable we can change/update the values by it's index

In [31]:
# APPENDING

# It's a little bit tricky, it doesn't have deafult in-build append function

# So we need to convert tuple to list, append it and then convert back to tuple.
myList = list(myTuple)
print(type(myList))
print(myList)

<class 'list'>
['apple', 'banana', 'cherry', 'coconut']

In [32]:
myList.append("YOOOO!!")

In [33]:
myTuple = tuple(myList)

In [34]:
print(type(myTuple))

<class 'tuple'>

In [35]:
print(myTuple)

('apple', 'banana', 'cherry', 'coconut', 'YOOOO!!')

In [36]:
# OR WE CAN JUST ADD TUPLE TO TUPLE

y = ("New Element", )

In [37]:
myTuple = myTuple + y

In [38]:
print(myTuple)

('apple', 'banana', 'cherry', 'coconut', 'YOOOO!!', 'New Element')

In [39]:
 z = tuple(("new One")) # The constructor is not very useful in appending

In [40]:
print(type(z))

<class 'tuple'>

In [41]:
myTuple+=z

In [42]:
print(myTuple)

('apple', 'banana', 'cherry', 'coconut', 'YOOOO!!', 'New Element', 'n', 'e', 'w', ' ', 'O', 'n', 'e')

### Unpacking Tuples

When we create a tuple, we just add the values and that's called packing a tuple.

Extracting the values back to variable is called unpacking.

In [43]:
fruits_tuple = ("Apple", "Banana", "Cherry")
(appl, ban, cherr) = fruits_tuple

In [45]:
print(f"{print(appl)}\n{print(ban)}\n{print(cherr)}\n")

Apple
Banana
Cherry
None
None
None

### Using Asterik *

In [46]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(appl, ban, *cherr) = fruits # The aestrik value creates a list of every element from there until the end

In [48]:
print(appl)
print(ban)
print(cherr)
print(type(cherr))

apple
banana
['cherry', 'strawberry', 'raspberry']
<class 'list'>

In [51]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits # This one creates a list between green and red variable

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

### Looping between tuples

In [52]:
for x in fruits:
    print(x)

apple
mango
papaya
pineapple
cherry

In [53]:
# For sure the while loops works

### Operations

In [55]:
fruits = ("apple", "banana", "cherry")
myTuple = fruits*2

In [57]:
print(myTuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [58]:
myTuple+=fruits
print(myTuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

## Tuple methods

In [61]:
myTuple.index("cherry") # Print the first occurence of cherry in myTuple

2

In [62]:
myTuple.count("apple") # Number of times apple is duplicated

3

## Named TUPLE

Like dictionaries, they contain keys that are hashed to a particular value. On the contrary, it supports both access from key-value and iteration, the functionality that dictionaries lack.

In [63]:
len(myTuple)

9

In [64]:
print(myTuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [65]:
myTuple[0] = "new" # immutable

TypeError: 'tuple' object does not support item assignment

### Using NamedTuple

In [67]:
from collections import namedtuple # It's in collections module

In [71]:
Employee = namedtuple("Worker", ["Name", "Age", "Position"])
maxh3802 = Employee("Anish", 20, "Senior Developer")

In [75]:
# Accessing by Key
print(f"The name of maxh3802 is {maxh3802.Name}")
print(f"The age of maxh3802 is {maxh3802.Age}")
print(f"The position of maxh3802 is {maxh3802.Position}")

The name of maxh3802 is Anish
The age of maxh3802 is 20
The position of maxh3802 is Senior Developer

In [76]:
maxh3803 = Employee(Name = "Anish", Age = 20, Position = "Senior Developer")

In [80]:
print(f"The name of maxh3803 is {maxh3803.Name}")
print(f"The age of maxh3803 is {maxh3803.Age}")
print(f"The position of maxh3803 is {maxh3803.Position}")

The name of maxh3803 is Anish
The age of maxh3803 is 20
The position of maxh3803 is Senior Developer

In [81]:
# Accessing my index
print(f"The name of maxh3803 is {maxh3803[0]}")

The name of maxh3803 is Anish