 ## What is a Algorithm?

An algorithm can be defined as a step by step instructions for a program to follow to solve any given problem; An Algorithm process the input data and gives the output based on the specific problem.

## What is Data Structure used for?

Data structure deals with how the data is stored and organized in memory of the computer that is going to be used in the program

# Overview of Data Types and Obejcts

An Algorithm can be converted into a computer software using any programming language.

The performance efficency of a computer software depends highly upon how the data is stored in the memory of the computer, which is then going to be used in the computer

Python is a Dynamically Typed Language which means the data type of a variable is not required while defining a variable. Python automatically recognize the type of variable during the runtime

There are various type of Data Structures : 
    1.) Numeric types  : Intergers (int), float, complex
    2.) Boolean types  : bool
    3.) Sequence types : String(str), range, list, tuple
    4.) Mapping types  : Dictionary(dict)
    5.) Set types      : set, frozenset

### type()

In [2]:
# We can check the type of the variable using the type() function

var1 = "Hello World"
var2 = 3
var3 = 4.5
var4 = [1,2]
var5 = {1,2,4}
print(f"var1 = {type(var1)}\nvar2 = {type(var2)}\nvar3 = {type(var3)}\nvar4 = {type(var4)}\nvar5 = {type(var5)}\n")

var1 = <class 'str'>
var2 = <class 'int'>
var3 = <class 'float'>
var4 = <class 'list'>
var5 = <class 'set'>

### Basic Data Types

    Numeric :
        Interger : Example : 45, 19 , 100, -49, -10 ; Basically with no decimals
        Float    : 3.1, 4.3 ; Basically with decimals
        Complex  : Represented using two floating-point values. It contains ordered pair such                    as a+ib, where a and b are real value and i is an imiginary value. 
                   E.g : 3.0 + 1.3j, 4.0j and so on

In [15]:
int1 = 4; int2 = -4
print(f"int1 = {type(int1)}\tint2 = {type(int2)}")
float1 = 4.0; float2 = -4.2
print(f"float1 = {type(float1)} float2 = {type(float2)}")
cmplx1 = 3.0 + 1.3j; cmplx2 = -4.2 + 3.1j; cmplx3 = -4.2j
print(f"cmplx1 = {type(cmplx1)} cmplx2 = {type(cmplx2)} cmplx3 = {type(cmplx3)}")

int1 = <class 'int'>	int2 = <class 'int'>
float1 = <class 'float'> float2 = <class 'float'>
cmplx1 = <class 'complex'> cmplx2 = <class 'complex'> cmplx3 = <class 'complex'>

Boolean

It's either True or False. False is always represented by 0 numerically and True is anything but 0.

In [16]:
# We can use bool() function to check

print(bool(0))
print(bool(1))
print(bool(4))
print(bool(0.3))
print(bool(-0.2))

False
True
True
True
True

## Sequences

A string is immutable sequence of characters represented in single, double or triple quotes.

In [28]:
# What does immutable mean? 
# Lets say there is a string str1
str1 = " This is a string which is naturally immutable"
# Lets type of change it's content
str1 = "Changed"
print(f"type : {type(str1)}\n{str1}")

# Lets say there is a integer 4, we want to change to float
var1 = 4
print(f"Before : {type(var1)}\t Value : {var1}")
var1 = float(var1)
print(f"After : {type(var1)}\t Value : {var1}")


# Lets try same thing with an string
try : 
    str1 = float(str1);
except :
    print ("Error : could not convert string to float")
    
# We get an error. That means it cannot be typecasted

type : <class 'str'>
Changed
Before : <class 'int'>	 Value : 4
After : <class 'float'>	 Value : 4.0
Error : could not convert string to float

### Add two Strings..
### What?????

In [30]:
# Only concatenate two strings
f = "Data"; s = "structures"
print(f+s)

Datastructures

## Multiply ?

In [33]:
print(f*4) # Just see what it will do

DataDataDataData

## Range

In [36]:
# range(start, stop, step)
# - start => what is the number to start from. It's inclusive
# - end   => where to stop. It's exclusive 
# - step  => how many steps to jump; deafult is 0.

print(range(0,10,2))
print(list(range(0,10,2)))

range(0, 10, 2)
[0, 2, 4, 6, 8]

## Lists

Properties Key Points : 
1. Ordered : They are ordered in a sequence. The order never changes.
2. Dynamic : Size of the list can be either increased or decreased by (Adding) or (Deleting) list items 
3. Abitary Set of Objects : The list can containn elements of any data type
4. Accessible via index. : The elements of the list can be accessed via index. P.S : The index starts from 0. :)
5. Mutable : Elements can be updated by pin pointing the index of the element we want to change.

In [37]:

list1 = ["name1", "name2", 3,4,5.3,-1]

In [38]:
print(type(list1))

<class 'list'>

In [39]:
#it can have same element
list1 = ["name1", "name2", 3,4,5.3,-1, "name1"]
print(type(list1))

<class 'list'>

In [41]:
# We can call by Index : 
print(list1[3])

4

In [45]:
## Ordered Property

print([1,2,3] == [1,2,3])
print([1,2,3] == [3,1,2])

True
False

Dynamic Property
  The list is dynamic that means, it can grow or shrink

In [1]:
b = ["Aalok", 43.2, "ea", 4]
print(b)

['Aalok', 43.2, 'ea', 4]

In [2]:
b = b+['New String']
print(b)

TypeError: can only concatenate list (not "str") to list

We can only add via concatenatation, i.e append another list.

In [8]:
b = b+['New String']
print(b)
print(len(b)) # len() to get the size of the list.

['Aalok', 43.2, 'ea', 4, 'New String', 'New String', 'New String']
7

In [9]:
# We can even delete and item from the list via the index. 
del b[4]
print(b)
print(len(b))

['Aalok', 43.2, 'ea', 4, 'New String', 'New String']
6

In [5]:
## Accessible via Index
list1 = [32,44,435,213,5,2]
print(list1[2])

435

In [16]:
## Changing a item in lits
list1 = ["a", 'b', 23, 44, 'iurfe', '438dsdv']
print(list1[2])
list1[2] = 33223
print(list1[2])
list1[0:3] = [2, 4, 'changed']
print(list1)
list1[0:3] = ['changed']
print(list1)
list1[0:3] = 'changed'
print(list1)

23
33223
[2, 4, 'changed', 44, 'iurfe', '438dsdv']
['changed', 44, 'iurfe', '438dsdv']
['c', 'h', 'a', 'n', 'g', 'e', 'd', '438dsdv']

### Membership, identity and logical operations

These operators are used to check the membership of an item, i.e if an item is stored in or is contained in a sequence variable [ex : string, list or tuple]

In [17]:
string1 = "ThisIsAString"

In [19]:
print(string1[3]) # Since string is a a sequence variable you can look something in it via index. 
len(string1)

s

13

There are two types of membership operators
1.) in
2.) not in

In [24]:
mylist1 = [100, 20, 30, 10]
mylist2 = [10, 400, 38, 90]

#### in

In [25]:
if mylist2[0] in mylist1:
    print(f"element mylist2[0] = {mylist2[0]} is overlapping with mylist1")

element mylist2[0] = 10 is overlapping with mylist1

In [26]:
if 10 in mylist1:
    print(f"10 is overlapping with mylist1")
else:
    print("the element is not in mylist1")

10 is overlapping with mylist1

In [27]:
if 13 in mylist1:
    print(f"10 is overlapping with mylist1")
else:
    print("the element is not in mylist1")

the element is not in mylist1

#### not in

In [29]:
if '23' not in mylist1 or mylist2:
    print("Element 23 is not in either of the lists.")
else:
    print("Gotcha")

Element 23 is not in either of the lists.

In [31]:
if 10 not in (mylist1 or mylist2):
    print("Element 23 is not in either of the lists.")
else:
    print("Gotcha")

Gotcha

### Identity operators

This operator is used to check whether two variable refer to same object.

In [36]:
list1 = [10]
list2 = [10]

if list1 == list2 :
    print("Both List are equal or have same elements")
else : 
    print("Both List are not equal or doesn't have same elements")
    
if list1 is list2:
    print("Both List are pointing to same object")
else :
    print("Both list are not pointing to the same object")
    
list3 = list1

if list1 is list3:
    print("Both List are pointing to same object")
else :
    print("Both list are not pointing to the same object")

if list2 is list3:
    print("Both List are pointing to same object")
else :
    print("Both list are not pointing to the same object")

    
if list2 is not list3:
    print("Both List are not pointing to the same object")
else :
    print("Both list are pointing to the same object")

Both List are equal or have same elements
Both list are not pointing to the same object
Both List are pointing to same object
Both list are not pointing to the same object
Both List are not pointing to the same object

### Logical Operators

SKIPPPPPPPP

In [ ]:
Tuples